{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-custom">
    <h2 class="text-center mb-3">🚗 Доступні поїздки</h2>
    <form class="filter-form mb-4" hx-get="{% url 'booking_list_url'%}" hx-target="body">
        <div class="row">
            <div class="col-md-3">
                <input type="date" class="form-control" name='date' placeholder="Дата">
            </div>
            <div class="col-md-2">
                <input type="time" name='time' class="form-control">
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control"  name='from_place' placeholder="Звідки">
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" name='to_place' placeholder="Куди">
            </div>
            <div class="col-md-3">
                <select class="form-control" name='transport'>
                    <option selected>car</option>
                    <option>bus</option>
                </select>
            </div>
            <input type='submit' value='Search' class='btn btn-sm btn-primary mt-2' >
        </div>
    </form>
    {% include "page/partials/vehicle-card.html" with trips=trips%}
</div>
{% endblock content %}