{% extends "base.html" %}

{% block content %}
    {% with owner=trip.vehicle.owner %}
    <div class="trip-details-container">
        <div class="row">

            <div class="col-md-4 driver-section">
                <a href="{% url 'profile_url' owner.user.username %}" class='text-decoration-none'>
                    <img src="https://i.pravatar.cc/300?img={{ owner.id}}" alt="Driver" class="driver-img">
                    <h5>{{ owner }}</h5>
                </a>
                <p><i class="bi bi-star-fill text-warning"></i> 
                    {{ trip.average_rating|floatformat:1 }} 
                    ({{ trip.review_count }})
                </p>
            </div>

            <div class="col-md-4 route-section">
                <h5>{{ trip.from_place }} → {{ trip.to_place }}</h5>
                <p><i class="far fa-calendar-alt"></i> {{ trip.start_time.date }}</p>
                <p><i class="far fa-clock"></i> Departures: {{ trip.start_time.time }}</p>
                <div class="route-line"></div>
                <p><i class="far fa-clock"></i> Arrival: {{ trip.end_time.time }}</p>
                <p><i class="fas fa-hourglass-half"></i> Duration: {{ trip.time }}</p>
            </div>

            <div class="col-md-4 car-section">
                <h5>
                    {% if trip.vehicle.vehicle != 'bus' %}
                    <i class="bi bi-car-front-fill fs-2"></i>
                    {% else %}
                        <i class="bi bi-bus-front-fill fs-2"></i>
                    {% endif %}
                </h5>
                <p><i class="fas fa-car"></i> {{  trip.vehicle.brand }}</p>
                <p><i class="far fa-calendar"></i> Year: {{  trip.vehicle.year }}</p>
                <p><i class="fas fa-users"></i> Capacity: {{  trip.vehicle.capicity }}</p>
            </div>
        </div>

        <div class="text-center mt-4">
            <form action="{% url 'order_create_url' trip.id %}" method="POST">
                {% csrf_token %}
                <button class="book-btn" type='submit'>Make a reservation - ${{trip.price}}</button>
            </form>
        </div>
    </div>
    {% endwith %}
{% endblock content %}