{% extends "base.html" %}

{% block content %}
    <div class="container py-5">
    <h2 class="text-center mb-4">System members</h2>
        <div class="table-card">
            <h4 class="mb-3">👤 Member</h4>
            <div class="table-responsive">
                <table class="table table-hover align-middle text-center">
                    <thead>
                        <tr>
                            <th>Photo</th>
                            <th>Full name</th>
                            <th>Age</th>
                            <th>Number</th>
                            <th>Email</th>
                            <th>Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in members %}
                            {% if member.category == 'MB' %}
                            <tr>
                                <td><img src="https://i.pravatar.cc/300?img={{ member.user.user.id}}" alt="avatar" class="profile-img w-25 h-25"></td>
                                <td>{{ member.user }}</td>
                                <td>{{ member.user.age}}</td>
                                <td>{{ member.user.number}}</td>
                                <td>{{ member.user.user.email}}</td>
                                <td><a href="{% url 'category_update_url' member.user.member_user.id %}" class='text-decoration-none'>{{ member.category}}</a></td>

                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
                <div class="table-card">
            <h4 class="mb-3">🚗 Driver</h4>
            <div class="table-responsive">
                <table class="table table-hover align-middle text-center">
                    <thead>
                        <tr>
                            <th>Photo</th>
                            <th>Full name</th>
                            <th>Age</th>
                            <th>Number</th>
                            <th>Email</th>
                            <th>Category</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in members %}
                            {% if member.category == 'DR' %}
                            <tr>
                                <td><img src="https://i.pravatar.cc/300?img={{ member.user.user.id}}" alt="avatar" class="profile-img w-25 h-25"></td>
                                <td>{{ member.user }}</td>
                                <td>{{ member.user.age}}</td>
                                <td>{{ member.user.number}}</td>
                                <td>{{ member.user.user.email}}</td>
                                <td><a href="{% url 'category_update_url' member.user.member_user.id %}" class='text-decoration-none'>{{ member.category}}</a></td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}