{% extends "base.html" %}
{% load static %}
{% block title %} Profile {{ user.get_full_name}} {% endblock title %}
{% block content %}
<div class="container profile-container">
    <div class="profile-card">
        <div>
            {% include "employees/include/profile_info.html" with user=user%}
        </div>

        <div class="flex-grow-1">
            {% if vehicles %}
                <h5 class="mb-3">Planned Route:</h5>
            {% elif moders %}
                <h5 class="mb-3">List Moderators:</h5>
            {% endif %}
           
            <div class="events-container">
            {% if vehicles %}
                {% for vehicle in vehicles %}
                    {% include "employees/include/booking_trips.html" with trips=vehicle.vehicle_booking.all%}
                {% endfor %}
            {% elif moders%}
                <div class='d-flex flex-wrap'>
                    {% for moder in moders %}
                        <div class="col-md-4 driver-section">
                            <a href="{% url 'profile_url' moder.user.user.username %}" class='text-decoration-none text-dark '>
                                <img src="https://i.pravatar.cc/300?img={{ moder.id}}" alt="Driver" class="driver-img">
                                <h5>{{moder.user.user.get_full_name}}</h5>
                                <p><i class="fas fa-star text-warning"></i> 4.8 (120 відгуків)</p>
                            </a>
                        </div>          
                    {% endfor %}
                </div>
            {% endif %}
            </div>
            {% if vehicles and request.user.is_moder%}
                <a href="{% url 'booking_create_url' %}" class="btn btn-success btn-sm mt-3 w-100">Add events</a>
            {% elif moders and request.user.is_administrator%}
                <a href="{% url 'moder_create_url' %}" class="btn btn-success btn-sm mt-3 w-100">Add moderators</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}