{% extends "base.html" %}
{% load static %}
{% block title %} Profile {{ user.get_full_name}} {% endblock title %}
{% block content %}
<div class="container profile-container">
    <div class="profile-card">
        <div>
            {% include "employees/include/profile_info.html" with user=user%}
        </div>
        <div class="flex-grow-1">
            {% if vehicles %}
                <h5 class="mb-3">Planned Route:</h5>
            {% elif moders %}
                <h5 class="mb-3">List Moderators:</h5>
            {% endif %}
           
            <div class="events-container">
            {% if vehicles and request.user.profile.member_user.category == 'DR' %}
                {% for vehicle in vehicles %}
                    {% include "employees/include/booking_trips.html" with trips=vehicle.vehicle_booking.all%}
                {% endfor %}
            {% elif moders%}
                <div class='d-flex flex-wrap'>
                    {% include "employees/moder/moder_list.html" with moders=moders%}
                </div>
            {% else %}
                {% include "page/orders/orders_list.html" with orders=orders%}
            {% endif %}
            </div>
            {% if request.user.is_administrator %}
                <a href="{% url 'moder_create_url' %}" class="btn btn-success btn-sm mt-3 w-100">Add moderators</a>
            {% elif request.user.profile.member_user.category == "DR" %}
                <a href="{% url 'booking_create_url' %}" class="btn btn-success btn-sm mt-3 w-100">Add events</a>
            {% else %}
                <a href="{% url 'booking_list_url' %}" class="btn btn-success btn-sm mt-3 w-100">Search trips</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}