{% extends "base.html" %}

{% block content %}
    <div class="container-md">
        <div class="chat-container mx-auto">
            <div class="chat-header">
                Chat 
                <span class='chat-online'>3 online</span>
            </div>
            <div class="chat-messages"  id='chat-messages'>
                {% for message in messages reversed%}
                    {% include "page/chat/chat_message.html" %}
                {% endfor %}
            </div>
            
            <div class="chat-footer" >
                <form hx-post="{% url 'index'%}" 
                        hx-target="#chat-messages"
                        hx-swap="beforeend"
                        class="w-100">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field }}
                    {% endfor %}
                    <button class='submit'>Відправити</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}


